<h1>Stupid Coaching</h1>
<div class="you">
  <p><%= @reply %></p>
  <p>- You</p>
</div>
<div class="coach">
  <p><%=@answer %></p>
  <p>- Coach</p>
</div>
<div class="link">
  <%= link_to "Are you sure this is the right response to give?", "/ask" %>
</div>
