<h1>Stupid Coaching</h1>
<div class="box">
  <form action="answer">
    <h4>Are you going to work right now?</h4>
    <input class="field" type="text" name="answer">
    <input class="button" type="submit" value="Reply!">
  </form>
</div>
